<%= render 'shared/page_title', title: 'All Recipes' %>
<p><%= link_to "Create New Recipe", new_recipe_path(@recipe), class: "btn btn-success" %></p>
<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-sm-2">
      <section class="chef_info center">
        <%= gravatar_for recipe.chef, size: 100 %>
        <h5>Chef: <%= recipe.chef.name %></h5>
      </section>
    </div>
    
    <div class="col-sm-6 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p><span class="quiet"><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span></p>
    </div>
    
    <div class="col-sm-4">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
    </div>
  </div>
<% end %>
