<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="col-sm-8">
    <h3><%= @recipe.summary %></h3>
    
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
    </div>
    
    <div class="well">
      <% if @recipe.styles.any? %><p><small>Style: <%= render @recipe.styles %></small></p><% end %>
      <% if @recipe.ingredients.any? %><p><small>Ingredients: <%= render @recipe.ingredients %></small></p><% end %>
      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i><% end %> 
          <%= @recipe.thumbs_up_total %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i><% end %> 
          <%= @recipe.thumbs_down_total %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4 center">
    <%= link_to gravatar_for(@recipe.chef, size: 150), chef_path(@recipe.chef) %>
    <p>Brought to you by <%= link_to @recipe.chef.name, chef_path(@recipe.chef) %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= link_to 'Return to recipes listing', recipes_path, class: "btn btn-warning" %>
    <% if logged_in? and @recipe.chef == current_user %>
      | <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    <% end %>
  </div>
</div>