<%= render 'shared/page_title', title: 'Recipes for: ' + @style.name + ' food' %>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Recipes", recipes_path %></li>
  <li><%= link_to "Chefs", chefs_path %></li>
</ul>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 center">
    <%= will_paginate @recipes %>
  </div>
</div>

<% @style.recipes.each do |recipe| %>
  <div class="row">
    <div class="col-sm-2">
      <section class="chef_info center">
        <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
        <h5>Chef: <%= link_to recipe.chef.name, chef_path(recipe.chef) %></h5>
      </section>
    </div>
    
    <div class="col-sm-6 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <% if recipe.styles.count > 0 %><p><small>Style: <%= render recipe.styles %></small></p><% end %>
      <% if recipe.ingredients.count > 0 %><p><small>Ingredients: <%= render recipe.ingredients %></small></p><% end %>
      <p><span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago, </small></span>
        <span class="quiet"><small>updated <%= time_ago_in_words(recipe.updated_at) %> ago</small></span></p>
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i><% end %> 
          <%= recipe.thumbs_up_total %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i><% end %> 
          <%= recipe.thumbs_down_total %>
      </div>
    </div>
    
    <div class="col-sm-4">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 center">
    <%= will_paginate @recipes %>
  </div>
</div>
